* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #000;
}

header {
  background-color: #2b9a91;
  padding: 20px;
  text-align: center;
  color: white;
}

.navbar {
  background-color: #555;
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 15px;
  align-items: center;
}

.menu a,
.menu #dark-mode-toggle {
  padding: 8px 15px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu a:hover,
.menu #dark-mode-toggle:hover {
  background-color: #ded6d6;
  color: black;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.sidebar {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

.main {
  flex: 70%;
  padding: 20px;
}

.box {
  background-color: #ddd;
  padding: 20px;
  margin-bottom: 20px;
}

.image-placeholder {
  width: 100%;
  max-width: 300px;
  height: auto;
  background-color: #bbb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.image-placeholder img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
  font-weight: bolder;
}

body.dark-mode {
  background-color: #222;
  color: white;
}

.dark-mode header {
  background-color: #1a6460;
}

.dark-mode .navbar {
  background-color: #333;
}

.dark-mode .menu a,
.dark-mode .menu #dark-mode-toggle {
  color: white;
}

.dark-mode .menu a:hover,
.dark-mode .menu #dark-mode-toggle:hover {
  background-color: #999;
  color: #000;
}

.dark-mode .sidebar {
  background-color: #2e2e2e;
  color: white;
}

.dark-mode .main {
  color: white;
}

.dark-mode .box {
  background-color: #444;
  color: white;
}

.dark-mode footer {
  background-color: #444;
  color: white;
}

.dark-mode .image-placeholder {
  background-color: #666;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .navbar.show-menu .menu {
    display: flex;
  }

  .menu a,
  .menu #dark-mode-toggle {
    padding: 12px;
    border-top: 1px solid #666;
    text-align: left;
    width: 100%;
  }

  .menu-toggle {
    display: block;
  }
}